{% extends 'blog/base.html' %}

{% block content %}

    <a href="{% url 'home'%}" class="btn btn-outline-secondary btn-sn nb-4">-- voltar</a>

    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="text-primary">{{artigo.titulo}}</h1>
            <p class="text-muted">
                <strong>por:</strong> {{artigo.autor}} |
                <strong>Categoria:</strong> {{artigo.categoria.nome}}
            </p>
            <hr>
            <p style="font-size: 1.rem; line-height: 1.8">{{artigo.conteudo}}</p>
        </div>
    </div>
{% endblock %}